body {
    font-family: 'Roboto';
    margin: 0;
    display: flex;
    flex-direction: column;
}

/* Header Styling */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 200px;
    background-color: #1F2937;
}

.header .left-logo {
    font-weight: bolder;
    font-size: 24px;
    color: #F9FAF8;
}

.header ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 16px;
}

.header ul a {
    text-decoration: none;
    color: #e5e7eb;
}

/* Hero Styling */
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 100px 200px;
    background-color: #1F2937;
    gap: 45px;
    min-height: 200px;
}

.hero .hero-left {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
}

.hero .hero-right {
    background-color: #F9FAF8;
    flex: 1.5;
    align-self: stretch;
    border-radius: 15px;
    background-image: url(./images/hero.jpeg);
}

.hero .hero-left h1 {
    color: #F9FAF8;
    margin: 0;
    font-size: 48px;
    font-weight: bolder;
}

.hero .hero-left p {
    color: #e5e7eb;
    margin: 0;
    font-size: 18px;
}

.hero .hero-left button {
    background-color: #3882f6;
    color: #F9FAF8;
    padding: 10px 40px;
    font-size: 18px;
    font-weight: bolder;
    border: none;
    border-radius: 10px;
}